# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve -l -H localhost`. If you change this file, please restart the 
# server process.

# Basic Site Settings
locale                   : "en-US"
site_theme               : "default"
title                    : "Tao Shuailin / Personal Website"
title_separator          : "-"
name                     : "Tao Shuailin"
description              : "Ph.D. Candidate at NTU specializing in AI algorithm development for biomedical signal analysis, focusing on computational efficiency and energy conservation."
url                      : "https://shuailin.github.io" # Update to your site's URL
baseurl                  : ""  # No subpath for a user site
repository               : "shuailin/shuailin.github.io"  # Update to your repo name

# Site Author - The following control what appears on the sidebar.
author:
  # Biographic information
  avatar           : "profile.png"  # Replace with your own image if desired
  name             : "Tao Shuailin"
  pronouns         : ""  # Optionally add your pronouns
  bio              : "Ph.D. Candidate in AI at Nanyang Technological University (NTU). My research focuses on developing advanced AI algorithms for biomedical signal analysis with an emphasis on energy efficiency and computational effectiveness."
  location         : "Singapore"
  employer         : "Nanyang Technological University (NTU)"
  uri              : ""  # Optionally add a personal website URL if different
  email            : "shuailin001@e.ntu.edu.sg"

  # Academic websites (add links if available)
  arxiv            : ""
  googlescholar    : ""
  impactstory      : ""
  orcid            : ""
  semantic         : ""
  pubmed           : ""
  researchgate     : ""
  scopus           : ""

  # Repositories and software development
  bitbucket        : ""
  codepen          : ""
  dribbble         : ""
  github           : "shuailin"
  kaggle           : ""
  stackoverflow    : ""

  # Social media
  bluesky          : ""
  facebook         : ""
  flickr           : ""
  foursquare       : ""
  goodreads        : ""
  google_plus      : ""
  keybase          : ""
  instagram        : ""
  lastfm           : ""
  linkedin         : "https://www.linkedin.com/in/shuailin-tao"
  mastodon         : ""
  medium           : ""
  pinterest        : ""
  soundcloud       : ""
  steam            : ""
  telegram         : ""
  tumblr           : ""
  twitter          : ""
  vine             : ""
  weibo            : ""
  wikipedia        : ""
  xing             : ""
  youtube          : ""
  zhihu            : ""

# Publication Category - The following list publication categories and their headings
publication_category:
  books:
    title: 'Books'
  manuscripts:
    title: 'Journal Articles'
  conferences:
    title: 'Conference Papers'

# Site Settings
teaser                   :  # filename of teaser fallback image in /images/
breadcrumbs              : false
words_per_minute         : 160
future                   : true
read_more                : "disabled"
talkmap_link             : false
comments:
  provider               : ""
staticman:
  allowedFields          : ['name', 'email', 'url', 'message']
  branch                 : "gh-pages"
  commitMessage          : "New comment."
  filename               : comment-{@timestamp}
  format                 : "yml"
  moderation             : true
  path                   : "_data/comments/{options.slug}"
  requiredFields         : ['name', 'email', 'message']
  transforms:
    email                : "md5"
  generatedFields:
    date:
      type               : "date"
      options:
        format           : "iso8601"
atom_feed:
  hide                   : false
  path                   :

# SEO Related
google_site_verification :
bing_site_verification   :
alexa_site_verification  :
yandex_site_verification :

# Social Sharing
twitter:
  username               : ""
facebook:
  username               : ""
  app_id                 :
  publisher              :
og_image                 :

social:
  type                   :
  name                   :
  links: []

# Analytics
analytics:
  provider               : "false"
  google:
    tracking_id          :

# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .github
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - CHANGELOG
  - Capfile
  - config
  - Dockerfile
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - local
  - log
  - node_modules
  - package.json*
  - Rakefile
  - README
  - tmp
  - vendor
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/

# Defaults for pages and posts
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: true
      share: true
      comment: true
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true
      share: true

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Permalinks
permalink: /:categories/:title/
timezone: Etc/UTC

# Plugins
plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji

whitelist:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji

# Archives
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development

# Output
permalink: /:categories/:title/
timezone: Etc/UTC

# Plugins for GitHub Pages
plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji

whitelist:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji

# Archives (Liquid)
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development
